* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.App {
	background: gray;
	height: 100vh;
}
main {
	padding: 25px;
}
.search-box {
	margin: 0 auto;
	width: 50%;
}

.search-box .search-bar {
	display: block;
	width: 100%;
	padding: 15px;
}
